<!-- <div class="container-fluid page">
  <div class="page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      Home Content goes here
    </div>
  </div>
</div> -->

<div class="flex-container">
  <div class="flex-container__title"><h1>Units</h1></div>
  
  <div class="flex-container__content">
    <!-- TO DO: Insert Unit card DOM here -->
  </div>
  <app-calendar></app-calendar>

  <button routerLink="/competence" routerLinkActive="active">Go to comptences</button>
</div>

<router-outlet></router-outlet>

<!-- <p style="color: #fff">Hello World!</p> -->

<!-- <div class="units">
        <div class="java">
            <div class="java-thumb-container">
                <img 
                src="https://lh3.googleusercontent.com/proxy/uywJjLn5dfh7KDDl9Tui1bG1p53CSussmM1R_LnurFZYSfyIrM2yZxhokj4mhmPHudz4z5_QRzl_arrB4PElk7hrz4c_Htw0UG8A"
                alt="thumbnail"
                class="java-thumbnail"
                />
            </div>
            <div class="java-description">
                <p class="unit-name">Name</p>
                <div class="unit-platforms">
                    <img
                    class="unit-platform"
                    src="https://cdn.iconscout.com/icon/premium/png-256-thumb/favorite-1762541-1501757.png"
                    alt="slug"
                    />
                </div>
            </div>
        </div>
</div> -->
