<div class="units">
        <div class="java">
            <div class="java-thumb-container">
                <img 
                src="https://lh3.googleusercontent.com/proxy/uywJjLn5dfh7KDDl9Tui1bG1p53CSussmM1R_LnurFZYSfyIrM2yZxhokj4mhmPHudz4z5_QRzl_arrB4PElk7hrz4c_Htw0UG8A"
                alt="thumbnail"
                class="java-thumbnail"
                />
            </div>
            <div class="java-description">
                <p class="unit-name">Name</p>
                <div class="unit-platforms">
                    <img
                    class="unit-platform"
                    src="https://cdn.iconscout.com/icon/premium/png-256-thumb/favorite-1762541-1501757.png"
                    alt="slug"
                    />
                </div>
            </div>
        </div>
</div>
