.content-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px 34px;
  grid-auto-flow: row;
}

.content-container:last-child {
  margin-bottom: 30px;
}

.unit:hover {
  box-shadow: 4px 3px 11px 6px #000;
  transform: translateY(-3px);
}

.unit-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 5px;
  /* cursor: pointer; */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(248, 80, 80, 1) 100%
  );

  &__header {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__header h2 {
    margin: 0;
  }

  &__info {
    align-self: flex-start;
    line-height: 2;
    margin-bottom: 10px;
  }

  &__button {
    align-self: flex-start;
  }

  &__button button {
    background: rgba(248, 80, 80, 1);
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    padding: 8px 34px;
    transition: background 0.8s;
    background-position: center;
  }

  &__button button:hover {
    background: rgb(255, 105, 105)
      radial-gradient(circle, transparent 1%, rgb(255, 105, 105) 1%)
      center/15000%;
  }

  &__button button:active {
    background-color: rgb(252, 126, 126);
    background-size: 100%;
    transition: background 0s;
  }
}

/* .units {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}
.java {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 4px 3px 8px 0px #000;
    transition-duration: 0.3s;
    cursor: pointer;
}
.java:hover {
    box-shadow: 4px 3px 11px 6px #000;
    transform: translateY(-3px);
}
.java-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
}
.java-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
}

.java-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
}

.unit-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.unit-platforms {
    display: flex;
}

.unit-platform {
    width: 20px;
    margin-right: 10px;
} */
