.content-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px 34px;
  grid-auto-flow: row;
}

.content-container:last-child {
  margin-bottom: 30px;
}

.unit:hover {
  box-shadow: 4px 3px 11px 6px #000;
  transform: translateY(-3px);
}

.unit-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 5px;

  &__blue {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 148, 255, 1) 100%
    );
  }

  &__green {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 163, 155, 1) 100%
    );
  }

  &__purple {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(163, 117, 255, 1) 100%
    );
  }

  &__red {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(248, 80, 80, 1) 100%
    );
  }

  &__header {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__header h2 {
    margin: 0;
    font-family: "Raleway";
    font-weight: bold;
  }

  &__info {
    align-self: flex-start;
    line-height: 2;
    margin-bottom: 10px;
  }

  &__info p {
    font-family: "Raleway";
  }

  &__button {
    align-self: flex-start;

    &__label {
      font-family: "Raleway";
    }
  }

  &__button button {
    align-self: flex-start;
    padding: 16px 34px;
    border: 1px solid;
    border-radius: 5px;
    line-height: 0;
  }
}
