.flex-container {
  flex-direction: column;
  margin: 50px 200px 0 200px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title h1 {
    font-family: "Raleway";
  }
}

h1 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
