.flex-container {
  flex-direction: column;
  margin: 50px 10% 0 10%;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title h1 {
    font-family: "Raleway";
  }

  @media (max-width: 1024px) {
    margin: 50px 75px 0 75px;
  }

  @media (max-width: 375px) {
    margin: 25px 30px 0 30px;
  }
}

h1 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
