.flex-container {
  flex-direction: column;
  margin: 50px 200px 0 200px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title h1 {
    font-family: "Raleway";
  }

  @media (max-width: 1024px) {
    margin: 50px 100px 0 100px;
  }

  @media (max-width: 375px) {
    margin: 25px 50px 0 50px;
  }
}

h1 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
