.flex-container {
  flex-direction: column;
  margin: 50px 10% 10% 10%;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title h1 {
    color: #fff;
    font-family: "Raleway";
    font-size: 34px;
    font-weight: bold;
  }

  @media (max-width: 1024px) {
    margin: 50px 10% 10% 10%;
  }

  @media (max-width: 375px) {
    margin: 25px 10% 10% 10%;
  }
}