.infopage-container {
  flex-direction: column;
  margin: 50px 10% 10% 10%;

  button {
    padding: 0;
    right: 13px;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title h1 {
    font-family: "Raleway";
    color: #fff;
    font-size: 34px;
    font-weight: bold;
  }

  &__content-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 34px;
  }
}
