<div class="drop-down-list-container">
  <details class="custom-select">
    <summary class="radios">
      <input
        type="radio"
        name="item"
        id="default"
        title="{{ dropDownSelection }}"
        checked
      />
      <input
        *ngFor="let unit of objectArray"
        type="radio"
        name="item"
        id="{{ unit.id }}"
        title="{{ unit.unitName }}"
      />
    </summary>
    <ul class="list">
      <li *ngFor="let unit of objectArray">
        <label for="{{ unit.id }}">
          <a href="http://localhost:4200/competence?unit={{ unit.unitName }}">
            {{ unit.unitName }}
          </a>
        </label>
      </li>
    </ul>
  </details>
</div>
