<div class="drop-down-list-container">
  <details class="custom-select">
    <summary class="radios">
      <input
        type="radio"
        name="item"
        id="default"
        title="{{ dropDownSelection }}"
        checked
      />
      <input
        *ngFor="let object of objectArray"
        type="radio"
        name="item"
        id="{{ object.id }}"
        title="{{ object.name }}"
      />
    </summary>
    <ul class="list">
      <li *ngFor="let object of objectArray">
        <label for="{{ object.id }}">
          <a href="http://localhost:4200/{{ object.url }}">
            {{ object.name }}
          </a>
        </label>
      </li>
    </ul>
  </details>
</div>
